/* Coolors Exported Palette - https://coolors.co/18211e-2e3834-0b0d0a-020608-354a4c */

/* CSS HEX */
// --dark-jungle-green: #18211Eff;
// --outer-space-crayola: #2E3834ff;
// --rich-black-fogra-39: #0B0D0Aff;
// --rich-black-fogra-39-2: #020608ff;
// --dark-slate-gray: #354A4Cff;

// /* CSS HSL */
// --dark-jungle-green: hsla(160, 16%, 11%, 1);
// --outer-space-crayola: hsla(156, 10%, 20%, 1);
// --rich-black-fogra-39: hsla(100, 13%, 5%, 1);
// --rich-black-fogra-39-2: hsla(200, 60%, 2%, 1);
// --dark-slate-gray: hsla(185, 18%, 25%, 1);

/* SCSS HEX */
$dark-jungle-green: #18211eff;
$outer-space-crayola: #2e3834ff;
$rich-black-fogra-39: #0b0d0aff;
$rich-black-fogra-39-2: #020608ff;
$dark-slate-gray: #354a4cff;

/* SCSS HSL */
$dark-jungle-green: hsla(160, 16%, 11%, 1);
$outer-space-crayola: hsla(156, 10%, 20%, 1);
$rich-black-fogra-39: hsla(100, 13%, 5%, 1);
$rich-black-fogra-39-2: hsla(200, 60%, 2%, 1);
$dark-slate-gray: hsla(185, 18%, 25%, 1);

/* SCSS RGB */
$dark-jungle-green: rgba(24, 33, 30, 1);
$outer-space-crayola: rgba(46, 56, 52, 1);
$rich-black-fogra-39: rgba(11, 13, 10, 1);
$rich-black-fogra-39-2: rgba(2, 6, 8, 1);
$dark-slate-gray: rgba(53, 74, 76, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #18211eff,
  #2e3834ff,
  #0b0d0aff,
  #020608ff,
  #354a4cff
);
$gradient-right: linear-gradient(
  90deg,
  #18211eff,
  #2e3834ff,
  #0b0d0aff,
  #020608ff,
  #354a4cff
);
$gradient-bottom: linear-gradient(
  180deg,
  #18211eff,
  #2e3834ff,
  #0b0d0aff,
  #020608ff,
  #354a4cff
);
$gradient-left: linear-gradient(
  270deg,
  #18211eff,
  #2e3834ff,
  #0b0d0aff,
  #020608ff,
  #354a4cff
);
$gradient-top-right: linear-gradient(
  45deg,
  #18211eff,
  #2e3834ff,
  #0b0d0aff,
  #020608ff,
  #354a4cff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #18211eff,
  #2e3834ff,
  #0b0d0aff,
  #020608ff,
  #354a4cff
);
$gradient-top-left: linear-gradient(
  225deg,
  #18211eff,
  #2e3834ff,
  #0b0d0aff,
  #020608ff,
  #354a4cff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #18211eff,
  #2e3834ff,
  #0b0d0aff,
  #020608ff,
  #354a4cff
);
$gradient-radial: radial-gradient(
  #18211eff,
  #2e3834ff,
  #0b0d0aff,
  #020608ff,
  #354a4cff
);
